# Byte-compiled / optimized / Python cache
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Operating System Files
.DS_Store
.DS_Store?
._*
Thumbs.db
ehthumbs.db

# Editor & IDE configurations
.vscode/
.idea/
*.swp
*.swo
*~

# Logs
*.log
